<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div>
                    <div>
                        <h1> <%= @post.title %> </h1>
                    </div>
                    <section>
                        <div>
                            <%= @post.content %>
                        </div>
                        <div>
                            <canvas id="myRadarChart"></canvas>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<script>draw_chart();</script>

